
html, body {
  overflow-x: hidden;
  box-sizing: border-box;
  min-height:100vh;
  display:flex;
  flex-direction:column;
}

  /* ------------- Homepage banner ---------------*/
  .homepage-banner {
    position: relative; 
    width: 100%;
    min-height: 100vh;
    height:auto;
    text-align: center;
    overflow:hidden;
  }
  .background-video {
    position: absolute;
    width: 100vw;  
    height: 100vh;
    object-fit: cover; 
    top: 0;
    left: 0;
    border-radius: 10px;
  }

  .Title{
    position: absolute; 
    bottom: 0; 
    right: 0; 
    margin: 10px;
    text-shadow: 9px 5px 5px #000000 !important;
    font-family: "Goldman", sans-serif;
    font-size:7rem;
    color: rgb(255, 255, 255);
  }   

  /* ---------------- Mission Section -------------- */
  .mission-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #000000, #1a1a1a); 
    gap: 20px;
    padding: 40px 20px;
    flex-wrap:wrap;
  }
  
  .mission-text {
    flex: 1;
    padding: 20px;
    text-align: left;
    font-size: 18px;
    line-height: 1.6;
    max-width: 600px;
  }

  .mission-text-heading {
    margin-bottom: 20px;
    font-size: 32px;
  }

  .mission-paragraph{
    font-size: 22px;
  }
  
  .bar {
    width: 50px;
    height: 4px;
    /*background-color: #0077CA;*/
    background-color: #E75D2A;
    margin-bottom: 20px;
  }
  
  .mission-image {
    flex: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .mission-image img {
    width: 100%;
    max-width: 600px;
    max-height: 90%;
    height: auto;
   
  }
  
  .text-container {
    flex: 1;
    margin-right: 20px;
  }

  .text-container h2 {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .text-container p {
    font-size: 1em;
    line-height: 1.6;
    color: #f0f0f0;
  }

  .image-container {
    flex: 1;
    text-align: right;
  }

  .image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    }

    /* -------------- Statistics Section ------------------ */
    .stats-section {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
      gap: 20px;
      padding: 40px 10px;
      justify-content: center;

      max-width: 1000px;   
      margin: 0 auto;       
      width: 100%;
      box-sizing: border-box;
    }
        
    .stat-box {
      border: 2px solid #E75D2A;
      border-radius: 20px;
      padding: 20px;
      text-align: center;
      width: 100%;
      box-sizing: border-box;

    }
            
    .stat-box h1 {
      font-size: 3rem;
      margin-bottom: 10px;
    }
    
    .stat-box h4 {
      font-size: 1.2rem;
      font-weight: normal;
    }

    /* -------- INSTAGRAM SECTION --------- */
    
    .instagram-section {
      width: 100%;
      text-align: center;
      /*background: linear-gradient(to right, #000000); */
    }

    .socialMedia-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 40px; 
    }

    .socialMedia-title{
      margin:20px;
    }

  
    .tiktok-container {
      flex: 1 1 300px;
      max-width: 500px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: visible; 
      padding-bottom: 20px; 
    }

    .instagram-container {
      flex: 1 1 300px;
      max-width: 500px;
      width: 100%;
    }
    
    .instagram-wrapper {
      position: relative;
      width: 100%;
      max-width: 500px;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      height: auto; 
    }
    
    .instagram-wrapper iframe {
      width: 100%;
      aspect-ratio: 4 / 5;
      border: none;
      background: transparent;
      display: block;
      min-height: 500px;
    }

    .tiktok-embed {
      width: 100%;
      max-width: 500px;
      height: auto;
      aspect-ratio: 4/5;
      border: none;
      background: transparent;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      display: block;
    }
    .tiktok-embed video {
      width: 100%;
      height: auto;
      aspect-ratio: 4 / 5;
      object-fit: contain;
      border-radius: 10px;
      display: block;
    }


/* TABLETS */
  @media (max-width: 900px){
    .Title{
      font-size:4rem;
    }

    .homepage-banner{
      width: 100%;
      height: 100vh;
    }

    .mission-paragraph{
      font-size: 19px;
    }
    
    .mission-image{
      display:none;
    }

    .stats-section {
      grid-template-columns: repeat(2, 1fr);
    }
    
    .mission-section{
      flex-direction: column;
      text-align:center;
    }

    .socialMedia-container{
      flex-direction: column;
      align-items: center;
    }

    .instagram-container iframe,
    .tiktok-embed .tiktok-embed video{
      aspect-ratio: auto !important;
      height: auto;
      width: 100%;
      max-width: 100%;
    }
  }

  /* Phone */
  @media  (max-width: 480px){
    .background-video {
      height: 100vh;
      width: 100vw;
      object-position: center;    /* Center it */
      background-color: black;    /* Fill empty space */
    }
    .Title{
      font-size:4rem;
    }

    .homepage-banner{
      width: 100%;
      height: 100vh;
    }

    .mission-paragraph{
      font-size: 1.2rem;
    }
    
    .mission-image{
      display:none;
    }

    .stat-box{
      max-width:90%;
      margin: 10px auto;
    }

    .stats-section {
      grid-template-columns: 1fr;
    }
    
    .instagram-title{
      font-size: 13px;
    }

    .instagram-container, .tiktok-container{
      display: flex;
    }

    .instagram-container iframe,
    .tiktok-embed .tiktok-embed video{
      max-width: 700px;
      width: 100%;
    }


  }

